// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(30, 100%, 85%),  // Light orange
    200: hsl(46 100% 42%),  // Slightly darker orange
    300: hsl(30, 100%, 65%),  // Medium orange
    400: hsl(30, 100%, 55%),  // Darker orange
    500: hsl(30, 100%, 45%),  // Dark orange
  ),
  secondary: (
    100: hsl(35, 100%, 51%),  // Light brownish orange
    200: hsl(20, 90%, 70%),   // Slightly darker brownish orange
    300: hsl(20, 80%, 60%),   // Medium brownish orange
    400: hsl(24 100% 42%),   // Dark brownish orange
    500: hsl(20 100% 39%),   // Deep brown
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);

