---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Book from '../components/Book.astro'
---

<DefaultLayout title="Rust Books">
  <section class="my-12">
    <div class="container">
      <h1>Free Rust Books</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <div class="container mx-auto p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
          <Book 
             imgSrc="/images/books/default-book.jpg"
            imgAlt="Official Rust Book" 
            title="Official Rust Book"
            description="The Rust Programming Language, an introductory book about Rust; created by the Rust community."
            link="https://doc.rust-lang.org/book/"
            linkText="Read"
          />
          <Book 
             imgSrc="/images/books/default-book.jpg"
            imgAlt="Rust Atomics and Locks" 
            title="Rust Atomics and Locks"
            description="This book is primarily for Rust developers who want to learn about low-level concurrency. It is also suitable for those who are not very familiar with Rust but would like to understand low-level concurrency from a Rust perspective.  (You can read the book online or buy a physical/PDF copy of the book.)"
            link="https://marabos.nl/atomics/"
            linkText="Read"
          />
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
