---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container" id="learning-rust">
      <h3 class="mb-1 mt-2 text-4xl">Roadmap From Beginner to Advanced Level</h3>
      <span class="text-1xl">A curated collection of materials designed to assist learners at various stages of their journey with the Rust.</span>
      <div class="mt-2 grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
          <Feature link="https://implrust.com/rust-tutorial#level-beginner" icon="mdi:baby-face" title="Level: Beginner">
            Discover beginner-friendly resources to build a solid foundation in Rust, including essential books and tutorials.
          </Feature>

          <Feature link="https://implrust.com/rust-tutorial#level-intermediate" icon="mdi:account-school-outline" title="Level: Intermediate">
            What to do once you learned basics? Explore intermediate materials that enhance your Rust skills.
          </Feature>

          <Feature link="https://implrust.com/rust-tutorial#level-advanced" icon="mdi:magic-staff" title="Level: Advanced">
            Dive into advanced concepts and techniques in Rust, covering systems programming and other.
          </Feature>

          <Feature link="/rust-books" icon="mdi:tools" title="Books">
            A curated list of free and paid Rust books, covering essential concepts and advanced topics to enhance your skills. 
          </Feature>

          <Feature link="https://implrust.com/rust-tutorial#blog-posts" icon="mdi:book-open-page-variant" title="Blog Posts">
            Access insightful blog posts on various Rust topics, featuring tutorials and the latest developments in the ecosystem.
          </Feature>


          <Feature link="https://implrust.com/rust-tutorial#curated-list" icon="mdi:clipboard-list" title="Curated List">
            Browse a curated selection of high-quality resources for embedded Rust programming, ideal for all developers.
          </Feature>

          <Feature link="https://implrust.com/rust-tutorial#rust-language-cheat-sheet" icon="mdi:clipboard-text" title="Rust Cheat Sheet">
            Utilize a handy cheat sheet summarizing key Rust concepts and syntax for quick reference.
          </Feature>

          <Feature link="https://implrust.com/rust-tutorial#dark-arts-of-rust" icon="mdi:skull" title="Dark Arts of Rust">
            Explore Unsafe Rust with the Rustonomicon, delving into the intricacies of low-level programming and safety.
          </Feature>

          <Feature link="https://implrust.com/rust-tutorial#youtube-channels-on-rust" icon="mdi:youtube" title="Youtube Channels">
            Discover engaging YouTube channels offering tutorials and tips from experienced Rust developers for enhanced learning.
          </Feature>

      </div>
    </div>
  </section>
</DefaultLayout>
