---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Book from '../components/Book.astro'
---


<DefaultLayout title="Rust Books">
  <section class="my-12">
    <div class="container">
      <h1 class="text-center">Free Rust Books</h1>
    </div>
  </section>
  <section class="my-12">
  <div class="space-content container mx-auto p-4">
    <div class="flex flex-wrap justify-center gap-3">
      <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4"> 
        <Book 
          imgSrc="/images/books/default-book.jpg"
          imgAlt="Official Rust Book" 
          title="The Rust Programming Language"
          description={`This is official book maintained by Rust community (www.rust-lang.org).
          <br/><br/>The Rust Programming Language, an introductory book about. This is must read book`}
          link="https://doc.rust-lang.org/book/"
          linkText="Read"
        />
      </div>
      <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4"> 
        <Book 
          imgSrc="/images/books/default-book.jpg"
          imgAlt="" 
          title="Rust by Example"
          description="This is also another official book maintained by the community. <br/><br/>Learn Rust with examples (Live code editor included) - is a collection of runnable examples."
          link="https://doc.rust-lang.org/rust-by-example/"
          linkText="Read"
        />
      </div>
      <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4">
        <Book 
          imgSrc="/images/books/rust-atomics.jpg"
          imgAlt="Rust Atomics and Locks" 
          title="Rust Atomics and Locks"
          description={`
          This book is primarily for Rust developers who want to learn about low-level concurrency. <br/><br/> You can buy A printed and ebook version of this book is published by O'Reilly or you can read it online.
          `}
          link="https://marabos.nl/atomics/"
          linkText="Read"
        />
      </div>
    </div>
  </div>
</section>

  <section class="my-12">
    <div class="container">
      <h1 class="text-center">Other Rust Books</h1>
    </div>
  </section>
  <section class="my-12">
  <div class="space-content container mx-auto p-4">
    <div class="flex flex-wrap justify-center gap-3">
      <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4"> 
        <Book 
          imgSrc="/images/books/zero2prod.jpg"
          imgAlt="" 
          title="Zero2Prod"
          description={`Zero To Production is the ideal starting point for your journey as a Rust backend developer.
<br/><br/>You will learn by doing: you will build a fully functional email newsletter API, starting from scratch.`}
          link="https://www.zero2prod.com/"
          linkText="Get"
        />
      </div>

      <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4">
        <Book 
          imgSrc="/images/books/programming-rust.jpg"
          imgAlt="" 
          title="Programming Rust, 2nd Edition"
          description={`
          Jim Blandy, Jason Orendorff, and Leonora Tindall demonstrate how Rust's features put programmers in control over memory consumption and processor use by combining predictable performance with memory safety and trustworthy concurrency.
          `}
          link="https://www.oreilly.com/library/view/programming-rust-2nd/9781492052586/"
          linkText="Read"
        />
      </div>
    </div>
  </div>
</section>

</DefaultLayout>
